:root {
  color-scheme: light;
  --theme-bg: #eff1f5;
  --theme-card-bg: #ffffff;
  --theme-link: #567c77;
  --theme-text: #22272a;
  --theme-accent: #cc2a42;
  --theme-accent-2: #111;
  --theme-quote: #cc2a42;
  --theme-menu-bg: rgb(250 250 250 / 0.85);
  --theme-mk-block-bg: #ededed;
  --theme-cat-link: #0000ff;
}
:root.dark {
  color-scheme: dark;
  --theme-bg: #0e141b;
  --theme-card-bg: #1e262f;
  --theme-link: #d480aa;
  --theme-text: #c9cacc;
  --theme-menu-bg: rgb(29 31 33 / 0.85);
  --theme-accent: #2bbc89;
  --theme-accent-2: #eee;
  --theme-quote: #ccffb6;
  --theme-mk-block-bg: #1c1212;
  --theme-cat-link: #ffffff;
}

html body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  width: min(40rem, 70%);
  /* max-width: 48rem; */
  flex-direction: column;
  background-color: var(--theme-bg);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 0.875rem;
  /* line-height: 1.25rem; */
  font-weight: 400;
  color: var(--theme-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #d0c4b9;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-track {
  width: 3px;
  background-color: #f9f9f9;
}

/* ::selection {
  color: rgb(50, 143, 254);
} */

a {
  color: inherit;
  text-decoration: none;
}
ul,ol {
    padding: 0;
}

/*一下来自张鑫旭响应式最佳实践*/
html {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  html {
/*     375px作为16px基准，414px宽度时正好对应18px的根字号大小   */
      font-size: calc(14px + 2 * (100vw - 375px) / 39);
  }
}
@media screen and (min-width: 414px) {
/*  屏幕宽度414px到1000px，根字号大小累积增加4px（18px-22px)  */
  html {
      font-size: calc(16px + 4 * (100vw - 414px) / 586);
  }
}
@media screen and (min-width: 1000px) {
  html {
/*    屏幕宽度从1000px往后每增加100px，根字号大小就增加0.5px    */
      font-size: calc(18px + 5 * (100vw - 1000px) / 1000);
  }
}
